<%= stylesheet_link_tag "calendar/fullcalendar.css" %>
<%= javascript_include_tag "js/vendor/moment.min.js" %>
<%= javascript_include_tag "js/vendor/fullcalendar.js" %>
<%= javascript_include_tag "js/index.js" %>


<div class="container-fluid row">
  <div id='calendar1' class='calendar col-md-6'></div>
  <div id='calendar2' class='calendar col-md-6'></div>
</div>
