<div class="container">
  <div id="topic-show-top">
    <span class="h1-font">上傳檔案總覽</span>
    <span class="right-link">
      <%= link_to 'javascript:history.back()' do %>
        <h4>返回班級教學計劃&nbsp;
          <%= fa_icon 'caret-right' %>
        </h4>
      <% end %>

    </span>
  </div>

  <hr>
  <div class="row">
    <%= render partial: "materials" %>
    <%= render partial: "plans" %>
  </div>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  <!--這裡可以用上 kaminari 分頁 -->
</div>

<script>
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
      } else {
          document.getElementById("myBtn").style.display = "none";
      }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
</script>