<%= form_for [@user,@subject,@topic,@aim]  do |f| %>
  <div class="field">
    <%#= f.label :title %>
    <%= f.text_area :name, :class => "form-control" %>
    <div class="field">
      <%= f.submit "Update", :class => "my-btn my-btn-transparent" %>
    </div>
  </div>
<% end %>
