<%# 改自 partial _calendar %>
<div class="simple-calendar">
  <table class="table table-striped">
    <thead>
      <tr>
        
      </tr>
      
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>


          <%= content_tag :td, colspan: '7' do %>
            <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
              <% capture_haml(week, sorted_events.fetch(week, []), &block) %>
            <% else %>
              <% block.call week, sorted_events.fetch(week, []) %>
            <% end %>
          <% end %>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

