<%= week_calendar lessons: lessons do |date, lessons| %>
  <%# date.day %>
  <% 0.upto(23).each do |hour| %>
    <div>
      <%= Time.parse("#{hour}:00").strftime("%l %P") %>
    </div>
  <% end %>

  <%# link_to lessons_path(lesson) do %><!-- 事件連結不能用左邊編輯，不解。借用 _edit.html.erb 的路由 -->
  <% lessons.each do |lesson| %>
    <div>
      <%= link_to lesson, class: "btn btn-default" do %>
        <%= lesson.name %>
      <% end %>
    </div>
  <% end %>
<% end %>