<style>
  .lesson-form-content{
      }
</style> 

<div class="container-fluid">
  <div class="row">
    <%= render 'shared/msg' %>

    <div class="col-12">
      <h1 style="display:inline;padding-left: 20px;">新增各學期課堂</h1>
      <i class="fa fa-caret-right grid" aria-hidden="true" style="padding:0px 10px;
  "></i> 
      <%= link_to '回到課表首頁', user_lessons_path(@user),style: "font-size:22px" %>
      <hr>
      <div class="lesson-form-content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
