/********* 整體設定 ***********/

/*
 *= require trix
 */

@import "bootstrap";
@import "font-awesome";
@import "style";
@import "simple_calendar";
@import url('https://fonts.googleapis.com/css?family=Kodchasan:400,500,700');
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);


body {
  color: #5e5f5f;
  font-family: 'Kodchasan', ‘Noto Sans TC’, sans-serif;
}

a {
  font-size: 14px;
}

a:link, a:visited {
  color: #454545;
}

a:hover {
  color: #ababab;
  text-decoration: none;
}

.theme-color {
  color:#fff;
  background-color:#5e5f5f;
}

.theme-font {
  color: #5e5f5f!important;
}

.blue-hr {
  height:10px;
  border:none;
  border-top:10px groove skyblue;
}

.pink-hr {
  height:10px;
  border:none;
  border-top:10px groove pink;
}

.red-hr {
  height: 10px;
  border: none;
  border-top:10px groove #e86dd4;
}

.orange-hr {
  height: 10px;
  border: none;
  border-top: 10px groove orange;
}

.yellow-hr {
  height: 10px;
  border: none;
  border-top: 10px groove yellow;
}

.main-frame {
  padding-top: 25px;
}

.alert {
  position: absolute;
  margin-top: 1.5rem;
  margin-left: 65%;
  z-index: 99;
}

/******* New Navbar Setting ********/

.nav {
  float: right;
}

.nav li {
  display: inline-block;
}

.nav li a {
  text-transform: capitalize;
  display: block;
  padding: 10px 18px;
}

.navbar {
  box-shadow: 0px -2px 20px 0px grey;
}

/******** OLD NAVBAR SETTING **********/

.nav-user {
  margin-left: 20px;
}

.user-icon {
  margin: 0 15px 0 15px;
}

.side-avatar {
  height: 200px;
  width: 200px;
}

.fixed-top {
  background-color: #5e5f5f;
  color: #fff;
}

.navbar-nav-li a, .nav-item a {

}
