@import "bootstrap";
@import "font-awesome";
@import "style";
@import "simple_calendar";

body {
  color: #5e5f5f;
}

.theme-color {
  color:#fff;
  background-color:#5e5f5f;
}

.theme-font {
  color: #5e5f5f!important;
}

.blue-hr {
  height:10px;
  border:none;
  border-top:10px groove skyblue;
}

.main-frame {
  padding-top: 25px;
}