// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #fff;
  padding: 20px 40px;
}

.radius-20 {
  border-radius: 10px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-right-10 {
  margin-right: 10px;
  padding-right: 10px;
}