.simple-calendar {
 
  table { 
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    box-shadow: 5px 10px 18px #888888;
    background-color:#fff;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 3px;
    border-bottom: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: center;
  }

  td {
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    width: 10%;


    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day_time {
    border: 1px solid #ddd;
    /*改 0.5 兩線合併為 1 無效*/
    padding-top:8px;
  } 

  td .today{
    background:green;
  }

  .day_time a{
    font-size:20px;
    font-weight:600;
  }

  .time_td {
    width: 6%;
  }

  .day_time .day_hour{
    font-size:20px;
    padding-top:19px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {} 
 
  .today{
    background:#f5faff;
  }

  .past {}
  .future {}

  .start-date {} 

  .prev-month {
    opacity:1;
  }
  .next-month {
    opacity:1;
  }
  .current-month {}

  .has-events .lesson-content a{
    color:#1f7ae0;
  }

  .has-events .lesson-content a:hover{
    color:#0091a8;
  }


  .calendar-title{
    font-size:30px; 
  }
}