.nav-user {
  margin-left: 20px;
}

.user-icon {
  margin: 0 15px 0 15px;
}

.side-avatar {
  height: 200px;
  width: 200px;
}

.fixed-top {
  background-color: #5e5f5f;
  color: #fff;
}

.navbar-nav-li a, .nav-item a {
  color: #fff;
  font-weight: 800;
}
/******** sidebar css setting *********/

.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: -1;
  top: 68px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  margin: 10px 0;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  background-color: green;
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
  color: #818181;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.main {
  margin-left: 220px;
  padding: 0px 10px;
  margin-top: 68px;
}

/*********** sidebar end *********/
/******** devise login page **********/

.login {
  margin: 150px auto;
}

.devise-card {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  margin-top: 30px;
}
.devise-panel {
  padding: 50px 0 30px 30px;
}
.login-container:after, .login-container:before {
  content: "";
  display:table;
  clear:both;
}

.login-container {
  padding:0.01em 16px;
}

.login-container-in {
  padding: 30px;
  line-height: 30px;
}

.login-input {
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%;
  border:1px solid #ccc;
  color:#000;
  background-color: linen;
}