.nav-user {
  margin-left: 20px;
}

.weekly_prepare {
  border: 2px gray solid;
  margin-top: 20px;
  min-height: 200px;
  padding: 10px;
}

.prepare-storage-icon {
  padding-top: 10px;
}

.prepare-storage {
  display: inline-block;
}